/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003b46; /* ヘッダーの背景色 */
  padding: 20px;
  border-bottom: 1px dotted #ffffff;
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
}

.nav ul li {
  margin: 0;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #66a5ad; /* ホバー時の色 */
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c0392b; /* ログアウトボタンのホバー時の色 */
}

hr {
  border: none;
}

.hr1 {
  border-top: 1px solid #ffffff;
}

body {
  background-color: #003b46;
  background-size: cover;
}
